# Pandas DataFrame Exercises - Stock Price Data

**Dataset**: `class_pipeline_prices_v1_aapl_ge_psct.parquet`

This notebook contains hands-on exercises for learning Pandas DataFrames using stock price data.

## Setup - Run This First

In [ ]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_parquet('class_pipeline_prices_v1_aapl_ge_psct.parquet')

# Quick check
print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")
df.head()

---
## Section 1: Creating & Viewing Data

### Exercise 1.1: First Look
**Knowledge Points**: `head()`, `tail()`, `shape`, `columns`

**Tasks**:
1. Display the first 5 rows of the dataset
2. Display the last 10 rows
3. Print the shape (rows and columns)
4. List all column names

In [ ]:
# Task 1: First 5 rows


# Task 2: Last 10 rows


# Task 3: Shape


# Task 4: Column names

### Exercise 1.2: Data Overview
**Knowledge Points**: `info()`, `describe()`, `dtypes`

**Tasks**:
1. Use `info()` to see data types and non-null counts
2. Use `describe()` to see statistical summary
3. Display data types of each column

In [ ]:
# Task 1: info()


# Task 2: describe()


# Task 3: dtypes

---
## Section 2: Selecting Data

### Exercise 2.1: Column Selection
**Knowledge Points**: Selecting columns

**Tasks**:
1. Select only the 'ticker' column
2. Select 'ticker' and 'close' columns
3. Select 'date', 'ticker', 'open', and 'close' columns

In [ ]:
# Task 1: Select ticker


# Task 2: Select ticker and close


# Task 3: Select multiple columns

### Exercise 2.2: Filtering with Conditions
**Knowledge Points**: Boolean indexing

**Tasks**:
1. Filter to show only AAPL stock data
2. Filter rows where closing price > 150
3. Filter GE stock where volume > 50,000,000
4. Show rows where date is in 2023

In [ ]:
# Task 1: AAPL only


# Task 2: Close > 150


# Task 3: GE with high volume


# Task 4: Data from 2023

### Exercise 2.3: Advanced Selection
**Knowledge Points**: `loc`, `iloc`

**Tasks**:
1. Use `iloc` to select first 100 rows
2. Use `loc` to select AAPL rows with only 'date' and 'close' columns
3. Select rows 50-60 using `iloc`

In [ ]:
# Task 1: First 100 rows with iloc


# Task 2: AAPL with loc


# Task 3: Rows 50-60

---
## Section 3: Adding, Deleting, Modifying

### Exercise 3.1: Drop Columns
**Knowledge Points**: `drop()`

**Tasks**:
1. Drop 'volume' column (save to new DataFrame)
2. Drop 'open', 'high', 'low' in one operation

In [ ]:
# Task 1: Drop volume


# Task 2: Drop multiple columns

### Exercise 3.2: Add New Columns
**Knowledge Points**: Creating columns

**Tasks**:
1. Create 'price_range' = high - low
2. Create 'percent_change' = ((close - open) / open) * 100
3. Create 'year' column from date

In [ ]:
# Task 1: price_range


# Task 2: percent_change


# Task 3: year

### Exercise 3.3: Rename Columns
**Knowledge Points**: `rename()`

**Tasks**:
1. Rename 'close' to 'closing_price'
2. Rename 'open' → 'opening_price', 'high' → 'highest_price'

In [ ]:
# Task 1: Rename close


# Task 2: Rename multiple

---
## Section 4: Sorting

### Exercise 4.1: Basic Sorting
**Knowledge Points**: `sort_values()`

**Tasks**:
1. Sort by date (ascending)
2. Sort by closing price (descending)
3. Sort by ticker then date

In [ ]:
# Task 1: Sort by date


# Task 2: Sort by close descending


# Task 3: Sort by multiple columns

### Exercise 4.2: Advanced Sorting
**Knowledge Points**: Complex sorting

**Tasks**:
1. For AAPL only, show top 10 trading days by volume
2. Sort by ticker (A-Z), date (newest first), close (low to high)

In [ ]:
# Task 1: AAPL top 10 by volume


# Task 2: Multi-column with mixed order

---
## Section 5: Missing Values

### Exercise 5.1: Detect Missing Values
**Knowledge Points**: `isnull()`, `isna()`

**Tasks**:
1. Check if there are any missing values
2. Count missing values per column
3. Show rows with any missing values

In [ ]:
# Task 1: Check for any nulls


# Task 2: Count nulls per column


# Task 3: Show rows with nulls

### Exercise 5.2: Handle Missing Values
**Knowledge Points**: `dropna()`, `fillna()`

**Tasks**:
1. Drop all rows with missing values
2. Fill missing volume with 0
3. Fill missing close with mean

In [ ]:
# Task 1: Drop nulls


# Task 2: Fill volume with 0


# Task 3: Fill close with mean

---
## Section 6: Grouping & Aggregation

### Exercise 6.1: Basic Grouping
**Knowledge Points**: `groupby()`, aggregations

**Tasks**:
1. Group by ticker, calculate average close
2. Group by ticker, find max high
3. Group by ticker, count trading days

In [ ]:
# Task 1: Average close by ticker


# Task 2: Max high by ticker


# Task 3: Count days by ticker

### Exercise 6.2: Multiple Aggregations
**Knowledge Points**: `agg()`

**Tasks**:
1. Group by ticker: mean, min, max for close
2. Group by ticker: average close, sum volume, std of close

In [ ]:
# Task 1: Multiple aggregations on close


# Task 2: Different aggregations per column

### Exercise 6.3: Advanced Grouping
**Knowledge Points**: Multi-column grouping

**Tasks**:
1. Extract year, group by ticker and year, find average close
2. Group by ticker and year, calculate total volume

In [ ]:
# Task 1: Average annual close


# Task 2: Total volume per year

---
## Section 7: Data Transformation

### Exercise 7.1: Apply Functions
**Knowledge Points**: `apply()`, `map()`

**Tasks**:
1. Create price_category: Low (<100), Medium (100-200), High (>200)
2. Create direction: 'Up' if close > open, else 'Down'
3. Map tickers to full names

In [ ]:
# Task 1: Categorize prices


# Task 2: Stock direction


# Task 3: Company names

### Exercise 7.2: Type Conversion
**Knowledge Points**: `astype()`

**Tasks**:
1. Convert volume to int
2. Convert date to datetime
3. Convert ticker to category

In [ ]:
# Task 1: Volume to int


# Task 2: Date to datetime


# Task 3: Ticker to category

---
## Section 8: String Operations

### Exercise 8.1: String Methods
**Knowledge Points**: `str` accessor

**Tasks**:
1. Convert tickers to lowercase
2. Check if ticker contains 'A'
3. Get length of ticker

In [ ]:
# Task 1: Lowercase


# Task 2: Contains 'A'


# Task 3: Length

---
## Section 9: Time Series Operations

### Exercise 9.1: Date Components
**Knowledge Points**: `dt` accessor

**Tasks**:
1. Extract year, month, day_of_week
2. Create quarter column
3. Filter for Mondays only

In [ ]:
# Task 1: Extract date parts


# Task 2: Quarter


# Task 3: Mondays only

### Exercise 9.2: Time-based Analysis
**Knowledge Points**: Rolling windows, resampling

**Tasks**:
1. For AAPL, resample to monthly avg close
2. Calculate 7-day rolling average of close

In [ ]:
# Task 1: Monthly resampling


# Task 2: 7-day rolling average

---
## Section 10: Other Common Operations

### Exercise 10.1: Duplicates
**Knowledge Points**: `drop_duplicates()`, `duplicated()`

**Tasks**:
1. Check for duplicate rows
2. Check for duplicate date-ticker combos
3. Remove duplicates

In [ ]:
# Task 1: Check duplicates


# Task 2: Check specific columns


# Task 3: Remove duplicates

### Exercise 10.2: Unique Values
**Knowledge Points**: `unique()`, `value_counts()`, `nunique()`

**Tasks**:
1. Find unique tickers
2. Count records per ticker
3. Count unique dates

In [ ]:
# Task 1: Unique tickers


# Task 2: Value counts


# Task 3: Number of unique dates

### Exercise 10.3: Index Operations
**Knowledge Points**: `set_index()`, `reset_index()`

**Tasks**:
1. Set date as index
2. Set date and ticker as multi-index
3. Reset index

In [ ]:
# Task 1: Date as index


# Task 2: Multi-index


# Task 3: Reset

---
## Completion Checklist

Check off each knowledge point as you master it:

- [ ] head(), tail(), shape, columns
- [ ] info(), describe(), dtypes
- [ ] Select single/multiple columns
- [ ] Boolean indexing
- [ ] loc and iloc
- [ ] drop()
- [ ] Add new columns
- [ ] rename()
- [ ] sort_values()
- [ ] isnull(), dropna(), fillna()
- [ ] groupby() with aggregations
- [ ] agg() with multiple functions
- [ ] apply() and map()
- [ ] astype()
- [ ] str accessor methods
- [ ] dt accessor for dates
- [ ] drop_duplicates()
- [ ] unique(), value_counts()
- [ ] set_index(), reset_index()

*Great job!*